.header {
   position: relative;
   display: block;
   height: 45px;

   & > .ant-row {
      height: 100%;
   }
   .dropdown {
      &__title {
         &:hover {
            color: #40a3ff;
         }
         @media (max-width: 768px) {
            display: none;
         }
      }
   }
}
