.menu {
   width: 225px !important;

   &__icon {
      margin-right: 15px;
   }
   &.ant-dropdown-menu-item {
      color: gray !important;
   }
   &.ant-dropdown-menu-item-active {
      background: none !important;
      color: #40a3ff !important;
   }
}
