* {
   margin: 0;
   padding: 0;
}
body {
   overflow-x: hidden !important;
}
.box {
   padding: 16px;
   background-color: #fff;
   //box-shadow: 0 5px 5px hsl(0deg 0% 40% / 10%);
}

img {
   vertical-align: middle;
   border-style: none;
}
