._pre-line {
   white-space: pre-line !important;
}

._text-left {
   text-align: left;
}

._text-center {
   text-align: center;
}

._text-right {
   text-align: right;
}

._m-none {
   margin: 0 !important;
}

._m-bottom_15 {
   margin: 0px 0px 15px 0px !important;
}
._m-bottom_10 {
   margin: 0px 0px 10px 0px !important;
}

._cursor_pointer {
   cursor: pointer;
}

._p-none {
   padding: 0 !important;
}

._flex-wrap {
   flex-wrap: wrap !important;
}

._flex-nowrap {
   flex-wrap: nowrap !important;
}

._flex-shrink {
   flex-shrink: 1 !important;
}

._flex-noshrink {
   flex-shrink: 0 !important;
}

._flex-grow {
   flex-grow: 1 !important;
}

._flex-nogrow {
   flex-grow: 0 !important;
}
